out/**
!out/.gitkeep

workspace/*
!workspace/.gitkeep
**/.secrets/

**/.DS_Store

bin/*
!bin/.gitkeep

/data/openimages-resources/openimages-test-images
!/data/openimages-resources/openimages-test-images/.gitkeep
